<h3>Создать сотрудника:</h3>
<select name="branches" onchange={{action "handleBranchChange"}}>
  <option value="0" selected>Без Филилала</option>
  {{#each branches as |branch|}}
    <option value={{branch.id}}>{{branch.name}}</option>
  {{/each}}
</select>
<br><br>

First Name: {{input type="text" key-up="handleFirstNameChange" value=newStaffAttributes.firstname}} <br>
Is Active: <input type="checkbox" onchange={{action "handleIsActiveChange"}}/><br>

{{#if newStaffAttributes.branchId}}
  <h4>Schdeules</h4>
  <select name="week_day" onchange={{action "nandleSchduleChange"}}>
    <option value="0">Понедельник</option>
    <option value="1">Вторник</option>
    <option value="2">Среда</option>
    <option value="3">Четверг</option>
    <option value="4">Пятница</option>
    <option value="5">Суббота</option>
    <option value="6">Воскресенье</option>
  </select>
  <input type="text" name="from" onkeyup={{action "nandleSchduleChange"}} value={{schedule.from}}>
  <input type="text" name="to" onkeyup={{action "nandleSchduleChange"}} value={{schedule.to}}>
  <button {{action "handleAddSchedule" schedule }}>Add Schedule</button>

  {{#each staffSchedules.data as |staff index|}}
    <p>
      Week Day: {{staff.attributes.week_day}} | From: {{staff.attributes.from}} | To: {{staff.attributes.to}} ||
      <button {{action "handleRemoveSchedule" index}}>Remove</button>
    </p>
  {{else}}
    <p>No one Schedules</p>
  {{/each}}
{{/if}}

<br>
<button {{action "createStaff"}}>Create Staff</button>


{{#if createdStaff}}
  <h3>Созданный сотрудник:</h3>
  <ol>
    {{#each-in createdStaff as |key value|}}
      <li>{{key}} - {{value}}</li>
    {{/each-in}}
  </ol>
{{/if}}
